.man-eye {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  top: 3px;
  left: 12px;
  background: #000;
  position: absolute;
}

.man-mouth {
  width: 15px;
  height: 10px;
  border-radius: 0 0 100px 0;
  top: 18px;
  left: 12px;
  background: red;
  position: absolute;
}

.man-head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-top: 32.5px;
  margin-left: -22.5px;
}

.man-face {
  margin-left: 17.5px;
  width: 32.5px;
  height: 32.5px;
  position: absolute;
  border-radius: 0 0 50% 0;
  background-color: #fbebcd;
}

.man-hear {
  width: 60px;
  height: 17.5px;
  border-radius: 100px 100px 0 0;
}

.middle-part {
  z-index: 1;
  height: 100px;
  width: 25px;
  position: absolute;
  margin-top: 95px;
  margin-left: -12.5px;
  border-radius: 100%;
  transform: scale(2.2, 1.3);
}
.left-hand,
.right-hand {
  margin-top: 95px;
  margin-left: -12.5px;
  height: 125px;
  width: 12.5px;
  border-radius: 0 0 100px 100px;
  float: left;
}

.left-hand {
  position: relative;
  z-index: 9999;
}

.right-hand {
  position: relative;
  z-index: -9999;
}

.left-cloth,
.right-cloth {
  height: 100px;
  width: 12.5px;
  position: absolute;
}

.left-shoe,
.right-shoe {
  top: 110px;
  width: 40px;
  height: 20px;
  border-radius: 0 100px 30px 0;
  position: absolute;
}

.left-leg,
.right-leg {
  margin-top: 200px;
  margin-left: -7.5px;
  height: 125px;
  width: 12.5px;
  float: left;
}
.left-hand,
.right-leg {
  transform-origin: 0 0;
  animation: movement1 0.5s alternate infinite ease-out;
}
.right-hand,
.left-leg {
  transform-origin: 0 0;
  animation: movement2 0.5s alternate infinite ease-in;
}

/* for movement 1 */
@keyframes movement1 {
  from {
    -webkit-transform: rotate(-35deg);
  }
  to {
    -webkit-transform: rotate(20deg);
  }
}

/* for movement 2 */
@keyframes movement2 {
  from {
    -webkit-transform: rotate(20deg);
  }
  to {
    -webkit-transform: rotate(-35deg);
  }
}
.man-body {
  top: 300px;
  left: 0;
  position: absolute;
}
@keyframes ManBodyScale1 {
  0% {
    /* 시작 */
    left: 0;
    transform: rotateY(0deg);
  }
  49.9999% {
    /*종료 */
    left: 100%;
    transform: rotateY(0deg);
  }
  50% {
    /*종료 */
    left: 100%;
    transform: rotateY(180deg);
  }
  99.9999% {
    /*종료 */
    left: 0;
    transform: rotateY(180deg);
  }
  100% {
    /*종료 */
  }
}
@keyframes ManBodyScale2 {
  0% {
    /* 시작 */
    left: 100%;
    transform: rotateY(180deg);
  }
  49.9999% {
    /*종료 */
    left: 0;
    transform: rotateY(180deg);
  }
  50% {
    /*종료 */
    left: 0;
    transform: rotateY(0deg);
  }
  99.9999% {
    /*종료 */
    left: 100%;
    transform: rotateY(0deg);
  }
  100% {
  }
}